/* Card Styles */

.card {
  cursor: pointer;
}

.selected {
  pointer-events: none;
  opacity: 0.3;
  transition: opacity 500ms ease;
}

/* House Colors */
.text-gryffindor {
  color: #ffc500;
}
.bg-gryffindor {
  background: #7f0909;
}

.text-hufflepuff {
  color: #000;
}
.bg-hufflepuff {
  background: #eee117;
}

.text-ravenclaw {
  color: #946b2d;
}
.bg-ravenclaw {
  background: #000a90;
}

.text-slytherin {
  color: #aaa;
}
.bg-slytherin {
  background: #0d6217;
}
