/* House Colors */
.text-gryffindor {
  color: #ffc500;
}
.bg-gryffindor {
  background: #7f0909;
}

.text-hufflepuff {
  color: #000;
}
.bg-hufflepuff {
  background: #eee117;
}

.text-ravenclaw {
  color: #946b2d;
}
.bg-ravenclaw {
  background: #000a90;
}

.text-slytherin {
  color: #aaa;
}
.bg-slytherin {
  background: #0d6217;
}

/* Card Styles */

.card {
  cursor: pointer;
}

.selected {
  pointer-events: none;
  opacity: 0.3;
  transition: opacity 500ms ease;
}

.hp,
.curse,
.counter {
  font-weight: 900;
}

/* Button styles */

.btn.btn-lg.btn-block.bg-dark:hover {
  background-color: #a91e2c !important;
  transition: background-color 0.4s linear;
}
